@import url(normalize.min.css);

* {
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
}

@font-face {
    font-family: 'advent_prolight';
    src: url('../fonts/adventpro-light-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'advent_promedium';
    src: url('../fonts/adventpro-medium-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'advent_proregular';
    src: url('../fonts/adventpro-regular-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'advent_prosemibold';
    src: url('../fonts/adventpro-semibold-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'advent_probold';
    src: url('../fonts/adventpro-bold-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'advent_proextralight';
    src: url('../fonts/adventpro-extralight-webfont.woff2') format('woff2'),
        url('../fonts/adventpro-extralight-webfont.woff') format('woff');
}

:root {
    /* Mode 1 */
    /* colors */
    --color-amarillento-color-amarillento-1: #fef7c1;
    --color-amarillento-color-amarillento-2: #fce42e;
    --color-amarillento-color-amarillento-3: #938202;
    --color-azul-oscuro-color-azul-oscuro-1: #0f1317;
    --color-azul-oscuro-color-azul-oscuro-2: #1e252e;
    --color-azul-oscuro-color-azul-oscuro-3: #2d3845;
    --color-basico-color-blanco-1: #ffffff;
    --color-basico-color-blanco-2: #ececec;
    --color-basico-color-negro-1: #000000;
    --color-basico-color-negro-2: #272727;
    --color-basico-color-negro-3: #424242;
    --color-basico-color-negro-4: #626262;
    /* numbers */
    /* spacing */
    --spacing-size-size-1: 0.25rem; /* 4px */
    --spacing-size-size-2: 0.5rem; /* 8px */
    --spacing-size-size-3: 0.75rem; /* 12px */
    --spacing-size-size-4: 1rem; /* 16px */
    --spacing-size-size-5: 1.25rem; /* 20px */
    --spacing-size-size-6: 1.5rem; /* 24px */
    --spacing-size-size-7: 1.75rem; /* 28px */
    --spacing-size-size-8: 2rem; /* 32px */
    --spacing-size-size-9: 2.25rem; /* 36px */
    --spacing-size-size-10: 2.5rem; /* 40px */
    --spacing-size-size-11: 2.75rem; /* 44px */
    --spacing-size-size-12: 3rem; /* 48px */
    --spacing-size-size-13: 3.25rem; /* 52px */
    --spacing-size-size-14: 3.5rem; /* 56px */
    --spacing-size-size-15: 3.75rem; /* 60px */

    /* Mode 1 */
    /* colors */
    --color-background-color-bg-card: #ffffff59;
    --color-background-color-bg-descuento: #196f79;
    --color-background-color-bg-descuento-2: #2d3845;
    --color-background-color-bg-header: #00000073;
    --color-background-color-bg-footer: var(--color-azul-oscuro-color-azul-oscuro-3);
    --color-background-color-bg-page: var(--color-basico-color-blanco-2);
    --color-background-color-bg-registro: var(--color-botones-color-boton-3);
    --color-botones-color-boton-1: var(--color-amarillento-color-amarillento-1);
    --color-botones-color-boton-2: var(--color-amarillento-color-amarillento-2);
    --color-botones-color-boton-3: var(--color-azul-oscuro-color-azul-oscuro-3);
    --color-botones-color-boton-4: #5dbc89;
    --color-botones-color-boton-5: #458c6b;
    --color-iconos-color-icono-card: var(--color-amarillento-color-amarillento-1);
    --color-iconos-color-icono-menu: var(--color-basico-color-blanco-2);
    --color-iconos-color-logo: #5dbc89;
    /* numbers */
    --size-grid-grid-gap: 1rem; /* 16px */
    --size-grid-grid-paddingtop: 1rem; /* 16px */
    --size-grid-grid-padding-horizontal: 12rem; /* 192px */
}

html {
    overflow-x: hidden;
    font-family: "advent_proregular", sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background-color-bg-page);

    & header {
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--size-grid-grid-paddingtop) var(--size-grid-grid-padding-horizontal);/* 16px 192px */
        background: var(--color-background-color-bg-header);
        color: var(--color-basico-color-blanco-2);

        & .header__botoninicio {
            text-decoration: none;
            color: var(--color-basico-color-blanco-2);
            display: flex;
            align-items: center;
            gap: var(--spacing-size-size-5);
            font-family: "advent_prosemibold", sans-serif;
            cursor: pointer;
        }

        & .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 78px;

            & .nav__iniciosesion {
                cursor: pointer;
            }

            & .nav__registrarse {
                padding: 12px 28px;
                background-color: var(--color-botones-color-boton-4);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                border-radius: 28px;
                cursor: pointer;
            }

            & .nav__registrarse:hover {
                background-color: var(--color-botones-color-boton-5);
            }
        }
    }

    & main {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-size-size-15);
        
        & .inicio {
            width: 100vw;
            height: 100vh;
            background-image: url("../img/Desktop/background_inicio.avif");
            background-size: cover;
            color: var(--color-basico-color-blanco-2);
            display: grid;
            grid-template-rows: 80px 1fr auto;
            grid-template-columns: 1fr calc(100vw - 384px) 1fr;
            gap: var(--spacing-size-size-5);

            & .introduccion {
                grid-row: 2/3;
                grid-column: 2/3;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-size-size-5);

                & .introduccion__titulo {
                    font-family: "advent_probold", sans-serif;
                    margin: 0;
                    font-size: 80px;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                & .introduccion__subtitulo {
                    font-size: var(--spacing-size-size-9); /* 48px */
                }

                & .introduccion__descuento {
                    max-width: 450px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: var(--spacing-size-size-9); /* 24px */
                    background-color: var(--color-background-color-bg-descuento);
                    padding: var(--spacing-size-size-2) 0; /* 8px */
                    border-radius: var(--spacing-size-size-3); /* 12px */
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    gap: var(--spacing-size-size-4); /* 16px */

                    img {
                        width: var(--spacing-size-size-12); /* 48px */
                    }
                }

                & .introduccion__contador {
                    display: flex;
                    gap: 20px;
                    font-size: var(--spacing-size-size-15); /* 60px */
                    color: var(--color-basico-color-negro-2);

                    & .contador__num {
                        color: var(--color-basico-color-blanco-2);
                        padding: var(--spacing-size-size-2); /* 8px */
                        background-color: var(--color-iconos-color-logo);
                        border-radius: var(--spacing-size-size-2); /* 8px */
                        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }
            }

            & .flecha {
                grid-row: 3/4;
                grid-column: 1/4;
                display: flex;
                justify-self: center;
                align-self: flex-end;
                transition: transform 0.3s ease-in-out;
            }

            & .flecha:hover {
                transform: scale(1.2);
            }
        }

        & .explicacion {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: var(--spacing-size-size-10); /* 40px */

            & .explicacion__titulo {
                font-size: var(--spacing-size-size-9); /* 36px */  
            }

            & .explicacion__parrafo {
                width: 50vw;
                font-family: "Times New Roman", Times, serif;
                font-weight: 400;
                font-size: var(--spacing-size-size-5); /* 20px */
            }
        }

        & .cursos {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: var(--size-grid-grid-paddingtop) var(--size-grid-grid-padding-horizontal); /* 16px 192px */
            gap: 50px;

            & .cursos__curso {
                display: flex;
                gap: var(--spacing-size-size-6); /* 24px */
                background-color: var(--color-background-color-bg-card);
                border-radius: var(--spacing-size-size-3); /* 12px */
                padding: var(--spacing-size-size-6); /* 24px */
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

                & .curso__texto {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-size-size-3); /* 12px */
                    width: 200px;

                    & .texto__parrafo {
                        font-family: 'Times New Roman', sans-serif;
                        font-size: var(--spacing-size-size-4); /* 16px */
                    }

                    & .texto__datos {
                        display: flex;
                        justify-content: space-between;
                        font-size: var(--spacing-size-size-6); /* 24px */

                        & .datos__horas {
                            padding: var(--spacing-size-size-3) var(--spacing-size-size-5); /* 12px 20px */
                            background-color: var(--color-iconos-color-icono-card);
                            border-radius: var(--spacing-size-size-3);
                        }

                        & .datos__precio {
                            padding: var(--spacing-size-size-3) var(--spacing-size-size-5); /* 12px 20px */
                            background-color: var(--color-background-color-bg-descuento);
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: var(--spacing-size-size-2);
                            border-radius: var(--spacing-size-size-3);
                            cursor: pointer;

                            & img {
                                width: var(--spacing-size-size-8); /* 32px */
                            }
                        }

                        & .datos__precio:hover {
                            background-color: var(--color-background-color-bg-descuento-2);
                        
                        }
                    }
                }

                & .curso__imagen {
                    border-radius: var(--spacing-size-size-3); /* 12px */
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                }
            }

        }
    }

    & footer {
        background-color: var(--color-background-color-bg-footer);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-size-size-6) var(--size-grid-grid-padding-horizontal); /* 24px 192px */
        color: white;

        & .footer__links {
            font-size: var(--spacing-size-size-6); /* 24px */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-size-size-11);
        }

        & .footer__redes {
            align-self: end;
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-size-size-10); /* 40px */
        }
    }

    /* Overlay Registro (Copiado del proyecto de contraseñas)*/
    & .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.25);
        z-index: 2;
        transition: opacity 0.3s;

        & .overlay__box {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50vw;
            padding: 50px 0;
            border-radius: var(--spacing-size-size-5); /* 20px */ 
            background-color: var(--color-background-color-bg-registro);
            color: var(--gris-texto);
            font-size: var(--spacing-size-size-6); /* 24px */
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
            gap: var(--spacing-size-size-7); /* 28px */
        
            & .box__form {
                width: 30vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                gap: 20px;

                & .form__titulo {
                    font-size: var(--spacing-size-size-7); /* 28px */
                    color: white;
                }

                & .input {
                    width: 65%;
                    padding: 15px 0;
                    font-size: 16px;
                    border: none;
                    border-bottom: 2px solid var(--color-botones-color-boton-4);
                    outline: none;
                    cursor: pointer;
                    color: var(--color-basico-color-blanco-2);
                    background-color: var(--color-background-color-bg-registro);
                }

                & .input::placeholder {
                    color: var(--color-basico-color-blanco-2);
                }

                & .botonenviar {
                    margin-top: 15px;
                    width: 65%;
                    border: none;
                    border-radius: 15px;
                    padding: 5px 0;
                    color: white;
                    background: var(--color-botones-color-boton-4);
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                }
            
                & .botonenviar:hover {
                    background-color: var(--color-botones-color-boton-5)
                }
            }

            & img {
                width: 200px;
                border-radius: var(--spacing-size-size-2);
            }
        }
    }
}